{% extends 'base.html' %}
{% block content%}

    <table>
        <thead>
            <tr>
            <th>id</th>
            <th>firstname</th>
            <th>lastname</th>
            <th>passed</th>
            </tr>
        </thead>
        <tbody>
            {% for student in data%}
            <tr>
            <td>{{student.id}}</td>
            <td>{{student.firstname}}</td>
            <td>{{student.lastname}}</td>
            <td>{{student.passed}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    
{%endblock%}